@model IEnumerable<Biblioteca.ReferenciaServicio.Libro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Libros</h2>

<p>
    
    @using (Html.BeginForm())
    {
        <p>Nombre del Libro: @Html.TextBox("busquedalibros")<br/>
        </p>
        <p>
            Por Tipo: <br />
           @Html.EnumDropDownListFor(model => model.First().Tipo, new { @class = "form-control" })

        </p>
        <p>
            Nombre del Área: @Html.TextBox("area")<br />
        </p>
        <p>
            Nombre del Autor: @Html.TextBox("autor")<br />
            <input type="submit" value="Filtrar" />
        </p>
    }
<p>
    <br>
@Html.ActionLink("Crear Nuevo registro", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editorial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editorial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.cod_libro }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.cod_libro }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.cod_libro })
        </td>
    </tr>
}

</table>
